Project Development Phase/Sprint-3/flows.json
[{"id":"71a9795d0c4df7ad","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f2f2649a.0d0d98","type":"debug","z":"71a9795d0c4df7ad","name":"","active":true,"console":"false","complete":"false","x":794.9999847412109,"y":106.00000095367432,"wires":[]},{"id":"4741355d620c451c","type":"ibmiot in","z":"71a9795d0c4df7ad","authentication":"apiKey","apiKey":"99448278197e1ce6","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":237.6000099182129,"y":112.40000295639038,"wires":[["f2f2649a.0d0d98","a289c0e7021e1e97","a6f9f6b50d7781af","7a341dd1676385f4"]]},{"id":"a289c0e7021e1e97","type":"function","z":"71a9795d0c4df7ad","name":"name","func":"msg.payload = msg.payload.name\nglobal.set(\"n\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":508.59998321533203,"y":187.600004196167,"wires":[["f2f2649a.0d0d98","9ac86e95935eb428"]]},{"id":"a6f9f6b50d7781af","type":"function","z":"71a9795d0c4df7ad","name":"lon","func":"msg.payload = msg.payload.lon\nglobal.set(\"lo\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":512.6000137329102,"y":243.6000051498413,"wires":[["f2f2649a.0d0d98","0c494b2334c0e28f"]]},{"id":"7a341dd1676385f4","type":"function","z":"71a9795d0c4df7ad","name":"lat","func":"msg.payload = msg.payload.lat\nglobal.set(\"l\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510.60001373291016,"y":306.6000061035156,"wires":[["f2f2649a.0d0d98","fc30f8540047a20e"]]},{"id":"0c494b2334c0e28f","type":"ui_gauge","z":"71a9795d0c4df7ad","name":"longitude","group":"68d7244782337a99","order":8,"width":6,"height":4,"gtype":"compass","title":"Longitude","label":"Degrees","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":833.6000366210938,"y":233.600004196167,"wires":[]},{"id":"fc30f8540047a20e","type":"ui_gauge","z":"71a9795d0c4df7ad","name":"latitude","group":"68d7244782337a99","order":3,"width":6,"height":4,"gtype":"compass","title":"Latitude","label":"Degrees","format":"{{value}}","min":0,"max":"100","colors":["#0e15e1","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":833.6000366210938,"y":305.6000061035156,"wires":[]},{"id":"9ac86e95935eb428","type":"ui_text","z":"71a9795d0c4df7ad","group":"68d7244782337a99","order":1,"width":6,"height":1,"name":"Name","label":"Name","format":"{{msg.payload}}","layout":"row-center","className":"","x":827.6000366210938,"y":178.600004196167,"wires":[]},{"id":"8dfae6af38bbb245","type":"ui_button","z":"71a9795d0c4df7ad","name":"","group":"68d7244782337a99","order":13,"width":6,"height":1,"passthru":false,"label":"Location ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"locationon\"}","payloadType":"json","topic":"topic","topicType":"msg","x":315.60001373291016,"y":399.200008392334,"wires":[["71b5929654a60b63","09ea66c3d69aaeba"]]},{"id":"4cde754481153212","type":"ui_button","z":"71a9795d0c4df7ad","name":"","group":"68d7244782337a99","order":15,"width":6,"height":1,"passthru":false,"label":"Location OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"locationoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":319.60003662109375,"y":458.19999504089355,"wires":[["71b5929654a60b63","09ea66c3d69aaeba"]]},{"id":"71b5929654a60b63","type":"ibmiot out","z":"71a9795d0c4df7ad","authentication":"apiKey","apiKey":"99448278197e1ce6","outputType":"cmd","deviceId":"1234","deviceType":"ESP","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":786.6000366210938,"y":400.39995765686035,"wires":[]},{"id":"09ea66c3d69aaeba","type":"debug","z":"71a9795d0c4df7ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":835.6000366210938,"y":455.6000461578369,"wires":[]},{"id":"f9c17220fcb319e2","type":"http in","z":"71a9795d0c4df7ad","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":332.20001220703125,"y":610.0000438690186,"wires":[["1a2d77d806b4eb59"]]},{"id":"dfb942a522e8e8bf","type":"http response","z":"71a9795d0c4df7ad","name":"","statusCode":"","headers":{},"x":854.199987411499,"y":608.0000438690186,"wires":[]},{"id":"1a2d77d806b4eb59","type":"function","z":"71a9795d0c4df7ad","name":"mit values","func":"msg.payload = {\"name\" : global.get(\"n\") , \"lon\" : global.get(\"lo\") , \"lat\" : global.get(\"l\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":601.1999816894531,"y":610.0000929832458,"wires":[["dfb942a522e8e8bf"]]},{"id":"f9b71c7813711476","type":"http in","z":"71a9795d0c4df7ad","name":"mit app","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":360.2000045776367,"y":532.8000030517578,"wires":[["f40f694d9462de31","09ea66c3d69aaeba","71b5929654a60b63"]]},{"id":"f40f694d9462de31","type":"http response","z":"71a9795d0c4df7ad","name":"","statusCode":"","headers":{},"x":802.199987411499,"y":532.7999954223633,"wires":[]},{"id":"f40cb15bd3c65cb2","type":"ui_spacer","z":"71a9795d0c4df7ad","d":true,"name":"spacer","group":"2913128b3e08d16c","order":2,"width":1,"height":1},{"id":"6439caa1568fef2e","type":"ui_spacer","z":"71a9795d0c4df7ad","name":"spacer","group":"2913128b3e08d16c","order":2,"width":1,"height":1},{"id":"5994bce522195220","type":"ui_spacer","z":"71a9795d0c4df7ad","name":"spacer","group":"68d7244782337a99","order":2,"width":1,"height":1},{"id":"f090b30adf4da148","type":"ui_spacer","z":"71a9795d0c4df7ad","name":"spacer","group":"68d7244782337a99","order":4,"width":1,"height":1},{"id":"38a01b73984c9e45","type":"ui_spacer","z":"71a9795d0c4df7ad","name":"spacer","group":"68d7244782337a99","order":5,"width":1,"height":1},{"id":"447acdf7bcfb6430","type":"ui_spacer","z":"71a9795d0c4df7ad","name":"spacer","group":"68d7244782337a99","order":6,"width":1,"height":1},{"id":"c62cfcfaf20bb1fb","type":"ui_spacer","z":"71a9795d0c4df7ad","name":"spacer","group":"68d7244782337a99","order":7,"width":1,"height":1},{"id":"084934c553652623","type":"ui_spacer","z":"71a9795d0c4df7ad","name":"spacer","group":"68d7244782337a99","order":9,"width":1,"height":1},{"id":"55b3cea86d2271cc","type":"ui_spacer","z":"71a9795d0c4df7ad","name":"spacer","group":"68d7244782337a99","order":10,"width":1,"height":1},{"id":"28360dd6aa4f39ab","type":"ui_spacer","z":"71a9795d0c4df7ad","name":"spacer","group":"68d7244782337a99","order":11,"width":1,"height":1},{"id":"8d21776eb764094f","type":"ui_spacer","z":"71a9795d0c4df7ad","name":"spacer","group":"68d7244782337a99","order":12,"width":1,"height":1},{"id":"c2bff3c683b12038","type":"ui_spacer","z":"71a9795d0c4df7ad","name":"spacer","group":"68d7244782337a99","order":14,"width":1,"height":1},{"id":"1d5ff055a28f0396","type":"ui_spacer","z":"71a9795d0c4df7ad","name":"spacer","group":"68d7244782337a99","order":16,"width":1,"height":1},{"id":"99448278197e1ce6","type":"ibmiot","name":"api","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"68d7244782337a99","type":"ui_group","name":"location","tab":"967d5e7c84911268","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"967d5e7c84911268","type":"ui_tab","name":"location","icon":"location","disabled":false,"hidden":false}]